*{
    padding: 0;
    margin: 0;
    outline: none !important;
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
}

header{
    position: relative;
    z-index: 10000;
}

p{
    font-size: 1.15rem;
}

.navbar{
    background: transparent !important;
    transition: 0.5s;
}

.navbar.scrolled{
    background: #000 !important;
    transition: 0.5s;
    box-shadow: 0px 2px 5px #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000;
    background: #fff;
}

.navbar-light .navbar-nav .active>.nav-link:hover{
    color: #000;
}

.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, .8);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus{
    color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
    font-weight: 600;
}

.banner{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url(images/banner6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.banner::before,
.sec2::before,
.contact::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(#000, transparent);
    pointer-events: none;
}

.banner::after,
.sec2::after,
.contact::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(260deg, #000, transparent);
    pointer-events: none;
}

.height100p{
    height: 100vh;
}

.h100{
    height: 100%;
}

.contentBox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.contentBox h1{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 5rem;
}

.contentBox p{
    color: #fff;
    font-size: 1.3rem;
}

.sec1{
    padding: 100px 0;
    background: #000;
}

.headerText{
    color: #fff;
}

.headerText h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.placeBox{
    position: relative;
    max-width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    margin-top: 30px;
}

.placeBox .imgBx{
    width: 100%;
    height: 100%;
}

.placeBox .imgBx img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.placeBox .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}

.placeBox .content h3{
    position: relative;
    margin: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .95);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.placeBox .content h3 span{
    font-size: 16px;
    font-weight: 500;
}

.sec2{
    position: relative;
    background: url(images/banner9.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.sec2 h2{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.btnD1{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    padding: 15px 50px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 500;
    margin-top: 20px;
}

/*==============================================
 BLOG
/*=============================================*/

.blog{
    position: relative;
    padding: 100px 0;
    background: #000;
}

.blog .box{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: #000;
    transition: .5s;
    margin-top: 30px;
}

.blog .box:hover{
    transform: translateY(-30px);
    box-shadow: 0 5px 8px #fff;
}

.blog .box .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
}

.blog .box .imgBox img{
    transition: .5s;
    width: 100%;
    height: 100%;
}

.blog .box:hover  .imgBox img{
    opacity: .5;
    transform: translateY(-40px);
}

.blog .box .content{
    position: absolute;
    bottom: -40px;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
}

.blog .box:hover  .content{
    bottom: 0;
    opacity: 1;
}

.blog .box .content h3{
    font-size: 48px;
    color: white;
    font-weight: 700;
}

.blog .box .content p{
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.blog .box .content .btn{
    border: none;
    font-weight: 500;
    font-size: 18px;
    transition: .5s;
}

.blog .box .content .btn:hover{
    background: white;
    color: rgba(0, 87, 187, 0.719);
}

/*==============================================
 CONTACT
/*=============================================*/

.contact{
    position: relative;
    padding: 100px 0;
    background: url(images/contact.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.contact h2{
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.contact form{
    position: relative;
    z-index: 10000;
}

.contact .form-control{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 50px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 1.25rem;
}

.contact .form-control:hover,
.contact .form-control:focus{
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);   
    box-shadow: none;
}

.contact .textarea{
    height: 100px;
}

.contact label{
    color: #fff;
    font-size: 1.25rem;
}

/*==============================================
 FOOTER
/*=============================================*/

footer{
    position: relative;
    background: #000;
    padding: 50px 0 0;
}

.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li{
    list-style: none;
    margin: 0 20px;
}

.sci li a{
    color: #777;
    font-size: 2em;
    transition: 0.5s;
}

.sci li a:hover{
    color: #fff;
}

.copyright{
    margin-top: 20px;
    text-align: center;
    color: #777;
}